*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    height: 100vh;
}

.linksContainer{
    margin: 0 auto 20vh auto;
    width: max-content;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: 2.2em;
    column-gap: 2em;
}

.largeLink{
    text-align: center;
    font-size: 1.5em;
    transition: all 0.3s ease;
    color: #545454;
}

.largeLink:hover, .largeLink:focus{
    font-size: 1.6em;
    color: #383838;
    outline: none;
}
